[build]
  command = "npm run build"
  publish = "dist"
  ignore = "git log -1 --pretty=%B | grep dependabot"

[dev]
  command = "npm run start"
  targetPort = 8080
  publish = "_site"
  autoLaunch = false
  framework = "#custom"

[[headers]]
  for = "/admin/*"
  [headers.values]
    X-Robots-Tag = "noindex"

[[headers]]
  for = "**/404.html"
  [headers.values]
    X-Robots-Tag = "noindex"

[[redirects]]
  from = "/fr/*"
  to = "/fr/404.html"
  status = 404

# English (or default language) 404 page must come last.
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
