            <nav class="nav" id="menu" aria-label="menu">
                <ul>
                    {% set navItems = collections.all | eleventyNavigation(lang) %}
                    {% for item in navItems %}
                    <li>
                        <a href="{{ item.url | url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
                    </li>
                    {% endfor %}
                    {% for item in collections.all %}
{% if item.data.lang !== lang and item.data.translationKey == ('index' if translationKey == 404 else translationKey) %}
                            <li lang="{{ item.data.lang }}">
                                <a href="{{ item.url }}">{{ config.languages[item.data.lang].name }}</a>
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
