<!doctype html>
<html lang="{{ lang }}" dir="{{ supportedLanguages[lang].dir }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>{% if title %} {{ title }} | {% endif %} {{ site[lang].name }}</title>

        {% include "partials/global/stylesheets.njk" %}

        {% include "partials/global/meta.njk" %}
        <link rel="alternate" type="application/atom+xml" href="{{ config.url }}{% if locale !== defaultLanguage %}/{{ locale }}{% endif %}/feed.xml" title="{% __ 'rss', {site: site[lang].name} %}">

        {% include "partials/global/icons.njk" %}
        <link rel="manifest" id="manifest">
        <script>
          const language = "{{ lang }}";

          if (language == "fr") {
            manifestUrl = "/manifest-fr.json"
          };

          if (!manifestUrl) manifestUrl = "/manifest-en.json";
          document.querySelector('#manifest').setAttribute('href', manifestUrl);
        </script>

        {% include "partials/global/scripts.njk" %}
    </head>
    <body class="{{ bodyClass if bodyClass else "page" }}">
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main>
            <article>
                {% block pageHeader %}
                <header>
                    <h1>{{ title }}</h1>
                </header>
                {% endblock %}
                <nav class="flc-toc-tocContainer"></nav>
                {% block content %}
                <div class="content">
                {{ content | safe }}
                </div>
                {% endblock %}
            </article>
        </main>
        {% include "partials/global/footer.njk" %}
        {% uioInit supportedLanguages[lang].uioSlug, supportedLanguages[lang].dir %}
    </body>
</html>
