---
permalink: '/admin/index.html'
eleventyExcludeFromCollections: true
locale: en
---
<!doctype html>
<html>
  <head>
    {% include 'partials/global/meta.njk' %}
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>
  </body>
</html>
