---
pagination:
  data: config.languages
  size: 1
  alias: language
permalink: "{% if language.code !== config.languages[0].code %}/{{ language.code.split('-')[0] }}{% endif %}/feed.xml"
---
{% set lang = language.code %}
{% set collection = "postFeed_" + lang %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ lang }}">
    <title>{{ site[lang].name }}</title>
    <subtitle>{{ translations[lang][summary] | replace("%s", site[lang].name) }}</subtitle>
    <link href="{{ config.url }}{% if lang !== config.languages[0].code %}/{{ lang }}{% endif %}/feed.xml" rel="self"/>
    <link href="{{ config.url }}{% if lang !== config.languages[0].code %}/{{ lang }}{% endif %}"/>
    <updated>{{ collections[collection] | rssLastUpdatedDate }}</updated>
    <id>{{ config.url }}</id>
    <author>
        <name>{{ site[lang].authorName }}</name>
        <email>{{ site[lang].authorEmail }}</email>
    </author>
    {% for post in collections[collection] %}
        {% set absolutePostUrl %}{{ config.url }}{{ post.url | url }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | rssDate }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html"><![CDATA[
        {{ post.templateContent | safe }}
        ]]></content>
    </entry>
    {% endfor %}
</feed>
