---
pagination:
  data: config.locales
  size: 1
  alias: lang
permalink: "{% if lang !== defaultLanguage %}/{{ supportedLanguages[lang].slug }}{% endif %}/feed.xml"
eleventyExcludeFromCollections: true
---
{% set collection = "postFeed_" + lang %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ lang }}">
    <title>{{ site[lang].name }}</title>
    <subtitle>{% __ 'rss', {site: site[lang].name} %}</subtitle>
    <link href="{{ permalink | htmlBaseUrl(config.url) }}" rel="self"/>
    <link href="{{ config.url }}{% if lang !== defaultLanguage %}/{{ supportedLanguages[lang].slug }}{% endif %}"/>
    <updated>{{ collections[collection] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ config.url }}{% if lang !== defaultLanguage %}/{{ supportedLanguages[lang].slug }}{% endif %}"</id>
    <author>
        <name>{{ site[lang].authorName }}</name>
        <email>{{ site[lang].authorEmail }}</email>
    </author>
    {% for post in collections[collection] %}
        {% set absolutePostUrl %}{{ post.url | htmlBaseUrl(config.url) }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ post.content | renderTransforms(post.data.page, config.url) }}</content>
    </entry>
    {% endfor %}
</feed>
