/* These example styles may be removed when you start work on your project. Or not! The choice is yours. */

:root {
    --base-font-family: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: var(--base-font-family);
}
