name: Lint and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-and-test:
    uses: inclusive-design/workflows/.github/workflows/node-pnpm-lint-and-test.yml@main
